body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: relative;
  right: 5%;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 10px;
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.problem-section, .coding-section {
  flex: 1;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
}

.problem-section h2, .coding-section h2 {
  color: #e5bb00;
  margin-top: 0;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#problem-description {
  flex: 1;
  overflow-y: auto;
  line-height: 1.6;
  color: white;
}

#problem-description pre {
  background-color: #e9e9e9;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  color: black;
}

.coding-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.code-editor, .output-console {
  flex: 1;
  display: flex;
  flex-direction: column;
}

textarea#code-input {
  width: 100%;
  flex: 1;
  min-height: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  resize: vertical;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  background: #1f1f1f;
  color: white;
}

button#submit-code {
  background-color: #e5bb00;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button#submit-code:hover {
  background-color: #e5bb00;
}

#output-display {
  flex: 1;
  min-height: 100px;
  background-color: #333;
  color: #e5bb00;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  white-space: pre-wrap;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

footer {
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
}